version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    # Optionally ignore specific dependencies here
    # ignore:
    #   - dependency-name: 'org.example:example'
    #     update-types: ['version-update:semver-major']
