version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: testnext
      POSTGRES_PASSWORD: password
      POSTGRES_DB: testnext
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  app:
    build: .
    environment:
      SPRING_PROFILES_ACTIVE: dev
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/testnext
      SPRING_DATASOURCE_USERNAME: testnext
      SPRING_DATASOURCE_PASSWORD: password
    ports:
      - "8080:8080"
    depends_on:
      - db
      - redis
