spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/testnext}
    username: ${SPRING_DATASOURCE_USERNAME:testnext}
    password: ${SPRING_DATASOURCE_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: false
  flyway:
    enabled: true
    locations: classpath:db/migration

logging:
  level:
    org.hibernate.SQL: INFO

# This profile is intended for containers (docker-compose). Activate with `-Dspring.profiles.active=docker` or
# via environment variable `SPRING_PROFILES_ACTIVE=docker`.
